<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>
            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>
               <%# const date = locals.review_date.toLocaleDateString('en-us', { month: 'long', day:'numeric', year: 'numeric'}) 
               %>
                    <form id="updateReviewForm" method="post" action="../edit">
                        <label for="review_date">Date of Review</label>
                        <input type="text" id="review_date" name="review_date" readonly value="<%- locals.review_date %>">
                              
                        <label for="review_text">Review:</label>
                        <input type="text" id="review_text" name="review_text" required  pattern=".*" value="<%= locals.review_text %>">
                               
                        <button type="submit" name="submit">Edit Review</button>
                        <input type="hidden" name="inv_id" <% if(locals.inv_id) {%> value="<%= locals.inv_id %>" <%} %>>
                        <input type="hidden" name="account_id" <% if(locals.accountData.account_id) {%> value="
                        <%=locals.accountData.account_id %>" <%}%>>
                        <input type="hidden" name="review_id" <% if(locals.review_id) {%> value="<%=locals.review_id%>"<%}%>>
                    </form>
                   